doctype html
head
  meta(charset='utf-8')
  title Comics Bag End
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  link(rel='stylesheet' type='text/css' href='/stylesheets/forms_CSS.css')
  style.
    
    
    

body.mt-2.bgbody
  .container-fluid.ml-2.text-secondary
    .media.formm
      .st
        table
          thead
            - var total = 0;
            tr
              th.pl-5.pr-5.pt-2.pb-2 Title
              th.pl-5.pr-5.pt-2.pb-2 Quantity
              th.pl-5.pr-5.pt-2.pb-2 Price
              th.pl-5.p5-5.pt-2.pb-2.nb
          tbody
            each item in cart
              -total += Number(item.price)
              tr
                td.pl-5.pr-5.pt-2.pb-2=item.title
                td.pl-5.pr-5.pt-2.pb-2= 1
                td.pl-5.pr-5.pt-2.pb-2=item.price
                td.pl-5.pr-5.pt-2.pb-2.nb 
                  a(href='/cart/remove/'+item._id class = "blue bt") &times;
          tfoot
            tr
              td.nb
              td Total:
              td=total
        br
        br
        br  
        a(href = "/succ" class = "btn butt") Checkout

        

