extends layout2

block content
    h1 Seems like there is a problem with the information you entered or there is a problem with your email service provider.
    p=errorsig
    a(href = "/email", class = 'btn butt crt') Return to Email Us Page