extends layout

block content
  main.main_body
    .container-fluid.p-0
      .site-slider
        .slider-one
          div
            img.sld(src='/images/ban1.jpg' alt='Banner1')
          div
            img.sld(src='/images/books.jpg' alt='Banner2')
          div
            img.sld(src='/images/ban3.jpg' alt='Banner3')
          div
            img.sld(src='/images/ban4.jpg' alt='Banner4')
        .slider-btn
          span.prev.position-top
          span.next.position-top.right-0
    div
      #newReleases.container-fluid.products.mx-2
        br
        h2
          span.heading
            | New Releases
            span
        .row.mx-5
          .col-md-3
            .product-top
              img.bk(src='/images/book1.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              h4 The Splendid And The Vile
              p By : Erik Larson
              h5 Rs 1,790, 2,000
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/book2.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
              i.fa.fa-star-o
              h4 Lift As You Climb: Women And The Art Of Ambition 
              p By : Viv Groskop
              h5 Rs 1,995, 2,400
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/book3.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              h4 Magical World Colouring Book
              p By : Arcturus Publishing
              h5 Rs 1,295, 1,600
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/book4.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              h4 A Mother&apos;s Journal: Recollections And Reflections To Pass On To Your Children
              p By : Felicity Forster
              h5 Rs 2,095, 2,500
              h5 Available In: Paperback, Hardback
      .container-fluid.products.mx-2
        h2
          span.heading Coming Soon
        br
        p(style='text-align:center;')
          | Due to constant currency fluctuation, prices are subject to change with or without notice.
        .row.mx-5
          .col-md-3
            .product-top
              img.bk(src='/images/cs1.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              h4
                | Putin&rsquo;s People: How The KGB Took Back Russia And Then Took On The West
              p By : Catherine Belton
              h5 Rs 1,525, 2,100
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/cs2.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              h4 Channel Kindness: Stories Of Kindness And Community 
              p By : Lady Gaga
              h5 Rs 2,605, 3,000
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/cs3.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              h4 The Mamba Mentality
              p By : Kobe Bryant
              h5 Rs 3,190, 3,600
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/cs4.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
              h4 Think Like A Monk: Train Your Mind For Peace And Purpose Every Day 
              p By : Jay Shetty
              h5 Rs 1,700, 2,200
              h5 Available In: Paperback, Hardback
      br
      br
      #bestSellers.container-fluid.products.mx-2
        h2
          span.heading BestSellers
        .row.mx-5
          .col-md-3
            .product-top
              img.bk(src='/images/bs1.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              h4
                | The Hobbit And The Lord Of The Rings
              p By : J. R. R Tolkien
              h5 Rs 3,000, 3,600
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/bs2.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
              h4 China Rich Girlfriend (Crazy Rich Asians Trilogy) 
              p By : Kevin Kwan
              h5 Rs 2,000, 2,400
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/bs3.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              h4
                | The Anarchy The East India Company, Corporate Violence, And The Pillage Of An Empire
              p By : William Dalrymple
              h5 Rs 1,660, 2,100
              h5 Available In: Paperback, Hardback
          .col-md-3
            .product-top
              img.bk(src='/images/bs4.jpg' alt='book1')
              .overlay
                button.btn.btn-secondary(type='button' title='Quick Shop')
                  i.fa.fa-eye
                button.btn.btn-secondary(type='button' title='Fav')
                  i.fa.fa-heart-o
                button.btn.btn-secondary(type='button' title='Add to cart')
                  i.fa.fa-shopping-cart
            .product-bottom.text-center
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              h4 Unf*Ck Yourself: Get Out Of Your Head And Into Your Life  
              p By : Gary John Bishop
              h5 Rs 940, 1,300
              h5 Available In: Paperback, Hardback
        br
