extends layout

block content 
  <body class="font">



    <!--main-->
    <main class='main_body'>

        <div> 
            <div class="container-fluid products mx-2">
                <br>
                <br>
                <br>
                <h2 style="text-align:center;"><span class="heading">Other Products<span></h2>
                <br>

                table
                    thead

                    tbody
                        each other in Others
                            tr  
                                <td rowspan="2"> &nbsp; &nbsp; &nbsp; &nbsp;
                                <td rowspan="2"> &nbsp; &nbsp; &nbsp; &nbsp;
                                <td rowspan="2" colspan="2">
                                    img(src = other.image , alt = 'img', height='350px' ) 
                                    br
                                    br 
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp; 
                                <td colspan="2">
                                    <br>
                                    <br>   
                                    p=other.title
                                <td rowspan="2">   
                                    a(href = "/delete/"+other._id , class = 'btn butt') Delete
                                    <br>
                                    <br>
                                    a(href = "/edit/"+other._id , class = 'btn butt') Update
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;  
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;  
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;   


                            tr
                                <td> &nbsp; &nbsp;
                                <td> &nbsp; &nbsp;  
                                td    
                                    p By:
                                    p Rating:
                                    p Price:
                                td
                                   
                                    p=other.by
                                    p=other.rating
                                    p=other.price
                                <td> &nbsp; &nbsp;    
                                <td> &nbsp; &nbsp;     
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;  
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp;
                                <td> &nbsp; &nbsp; 
                                <td> &nbsp; &nbsp; 

                                                          
        
            </div>
        </div>
        a(href = "/add" ,class = 'btn butt crt') Add
        br
        br
        br
        br

    </main>

     

    
    <!--Jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../JS/Main.js"></script>

  </body>

