doctype html
head
  <meta charset="utf-8">
  <title>Sneakerce</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  link(rel='stylesheet' type='text/css' href='/stylesheets/forms_CSS.css')



body.mt-2.bgbody
    .container-fluid
        br 
        br
        h1 Successful Purchase
        br 
        br
        a(href = "/other" class = "btn butt") Back to shopping
          