extends layout

block content
    main.main_body
        div
            .container-fluid.products.mx-2
                br
                br
                br
                h2(style='text-align:center;')
                    span.heading
                        | Terms and Conditions
                        span
                br
                .row.mx-5
                    h2
                        span.heading
                            | Online Store Terms
                            span
                br
                br
                br
                p
                    | By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                p
                    | You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
                p   You must not transmit any worms or viruses or any code of a destructive nature.
                p
                    | A breach or violation of any of the Terms will result in an immediate termination of your Services.
                .row.mx-5
                h2
                    span.heading
                        | General Conditions
                        span
                br
                br
                br
                p
                    | You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
                p
                    | You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
                p
                    | The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
                p   We reserve the right to refuse service to anyone for any reason at any time.
                .row.mx-5
                h2
                    span.heading
                        | Accuracy, Completeness and Timeliness of Information
                        span
                br
                br
                br
                p
                    | We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.
                p
                    | This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.
                .row.mx-5
                h2
                    span.heading
                        | Accounts
                        span
                br
                br
                br
                p
                    | In order to use certain features of the Site or Services, you must register for an account with Company (&ldquo;Account&rdquo;) and provide certain information about yourself as prompted by the Site registration form. You represent and warrant that: (a) all required registration information you submit is truthful and accurate; and (b) you will maintain the accuracy of such information. You are responsible for maintaining the confidentiality of your Account login information and are fully responsible for all activities that occur under your Account. You agree to immediately notify Company of any unauthorized use, or suspected unauthorized use of your Account or any other breach of security. Company cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                .row.mx-5
                h2
                    span.heading
                        | Payment Terms
                        span
                br
                br
                br
                p
                    | For each subscription you order on the Site, you agree to pay the price applicable for the Product as of the time you submitted your order (&ldquo;Product Price&rdquo;), the delivery fees for the delivery service you select (&ldquo;Delivery Fees&rdquo;), and any applicable Taxes (defined below). If you order a subscription to a Product (with a monthly term, or a term of 3 months, 6 months or 12 months) that auto-renews (&ldquo;Subscription&rdquo;), then you agree to pay the applicable Product Price, Delivery Fees, and Taxes upon each auto-renewal date, until you terminate your Subscription in accordance with the directions on the Site. Your next billing date will be displayed in your Account page for each of your active Subscriptions (&ldquo;Renews on&rdquo; date). We reserve the right to change the timing of our billing, in particular, if your Payment Method has not successfully settled, there are unforeseen delays that hinder our ability to ship your product, or there are changes to your account or Subscriptions. Please also note that if your Subscription includes a discounted Product Price for a promotional period, once the promotional period expires, your Subscription will renew at the full Product Price. As such, if you purchase a Subscription, until such time as you terminate your Subscription in accordance with the directions on this site, you hereby authorize, agree and assent to the Company automatically billing your credit card submitted as part of the order process for such amounts that are due. You will be solely responsible for payment of all taxes (other than taxes based on Company&rsquo;s income), fees, duties, and other governmental charges, and any related penalties and interest, arising from the Product purchase (&ldquo;Taxes&rdquo;) not withheld by Company, including, without limitation, all Product purchased pursuant to any Updated Subscription. All payments are non-refundable (except as expressly set forth in this document). Without limiting other remedies, we reserve the right to charge a late fee on all past due payments equivalent to the lesser of one and a half percent (1.5%) per month on the unpaid balance or the highest rate allowed by law. You agree to pay for all collection costs, attorneys&rsquo; fees, and court costs incurred in the collection of past due amounts.
                .row.mx-5
                h2
                    span.heading
                        | Return Policy
                        span
                br
                br
                br
                p
                    | If the Product arrives damaged or not substantially as described on the Product information page (&ldquo;Damaged Product&rdquo;), Company will send replacement product if photo documentation is provided of the damaged product within 48 hours of the Product&rsquo;s delivery (as determined by USPS tracking data) to support@elephant-books.com.
                p
                    | We do not accept any Product exchanges.
                .row.mx-5
                h2
                    span.heading
                        | Modifications to the Service and Prices
                        span
                br
                br
                br
                p
                    | We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time. We will not modify the price of your automatically renewing subscription without providing you with adequate notice and receiving your acceptance of the price change.
                p
                    | Prices for our products are subject to change without notice.
                p
                    | We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.
                .row.mx-5
                h2
                    span.heading
                        | Accuracy of Billing and Account Information
                        span
                br
                br
                br
                p
                    | We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors.
                p
                    | You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.
                p
                    | We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.
                br
                br
