doctype html
head
  meta(charset='utf-8')
  title The Bag End
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  link(type='text/css' rel='stylesheet' href='/stylesheets/Welcome_CSS.css')
  link(href='https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap' rel='stylesheet')
header
  nav
    h3.titlee The Bag End
    img.logo(src='/images/bagendlogo2.png' alt='logo')
  section
    .hero
      img(src='/images/BagEndInterior.jpg' alt='image')
      h1.headline
        span.anm Welcome to The Bag End 
        br
        br
        a.btn.wel(href='/main')
          | Begin the Exploration
.slider
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js' integrity='sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js' integrity='sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=' crossorigin='anonymous')
script(src='/javascripts/wel.js')